$red = #dd2233
$bg-green = #54B7A1
$wht = #fff
$lt-gray = #DEDFE3
$dk-gray = #80809B
$blue-green = #5189A0
$blk = #44444F
$lt-green = #65E496
$dk-green = #5fc9b3
$grad-top = #326586
$grad-bot = #43a496
$green-shadow = rgba(101, 228, 125, .5)
$lt-bg = #F5F6FA