@import 'normalize.css'
@import 'fontello.css'
@require 'colors.styl'

body
	/*font-family 'Roboto Slab', serif*/
 	/*font-family 'Open Sans', sans-serif*/
 	line-height 24px
 
img
	max-width 100%
	height auto
 	
.site-main
	background-color $bg-green
	background-image linear-gradient(to bottom right, $grad-top, $grad-bot)	
	
.header
	max-width 1070px
	margin 0 auto
	display flex
	color $wht	
	justify-content space-between
	align-items center
	flex-wrap wrap	

.header-logo
	background-image url(../img/logo.svg)
	width 134px
	height 31px
	display block
	background-size cover
	
.header-list
	list-style none
	display flex
	justify-content flex-end
	li
		margin-left 20px
		padding-bottom 5px
		letter-spacing 0.5px
		border-bottom 3px solid transparent
		transition .3s
		&:hover
			border-bottom 3px solid $lt-green
	li.current
		border-bottom 3px solid $lt-green
		
.wrap
	max-width 1070px
	margin 0 auto
	color $wht	
	
.block-book
	display flex
	padding 8rem 0
	justify-content space-between
.main-book
	background-image url(../img/book.svg)
	background-size cover
	width 447px
	height 643px
	text-align center
	flex-basis 470px		
	.title
		padding-top 4rem
		font-size 36px
	.quote
		color $lt-green
		font-size 14px
	.author
		color $lt-green
		vertical-align bottom
		display inline-block
		width 90%
		text-align left
		margin-top 24rem
		margin-left 5rem
			
	
		
.block-text
	flex-basis calc(100% - 530px)
	box-sizing border-box
	.block-text-name
		font-size 18px	
	.description
		display block
	p
		font-size 15px
		line-height 24px
		letter-spacing .75px

.block-text-title
	font-size 48px
	letter-spacing 1.8px
	margin-bottom 40px
	span
		font-size 1rem
		color $lt-green
		display block
		font-size 18px
		letter-spacing .9px
	
.green-button
	color $wht
	background-color $lt-green
	font-size 18px
	letter-spacing .7px
	text-align center
	text-decoration none
	display block
	border-radius 3px
	box-shadow 2px 2px $green-shadow
	max-width 250px
	margin 48px 0 20px
	padding 14px 0
	
/* About author */

.container-author
	display flex
	justify-content space-between
	padding 160px 100px
	max-width 1070px
	
.about-author
	width 50%
	p
		color $dk-gray
	.book-author
		color $dk-gray
	.a-name
		font-size 48px
		letter-spacing 1.8px
		span
			font-size 18px
			display block
			color $lt-green
			letter-spacing .75px
			
.portrait
	position relative	
	.svg
		position absolute
		z-index -1
		right 0
	.image
		margin-top 45px
		max-width initial
		margin-right 45px
	
.counter
	display flex
	justify-content space-evenly
	text-align center
	padding 0 90px 104px
	p
		font-size 18px
		&:first-child
			margin-left -10px
		span
			display block
			font-size 64px
			color $lt-green
			font-weight thin
			margin-bottom 5px

/* Book content */
.book-content
	background-color $lt-bg
	
	h3
		font-size 22px
		margin-bottom 11px
	p
		margin-top 5px
		letter-spacing 1.2px
		font-size 14px
		
	
.content-title
.others-title
	text-align center
	h2
		margin-top 18px
		font-size 36px
		letter-spacing 4px
		margin-left -15px
		span
			margin-top 10px
			font-size 16px
			display block
			color darken($lt-green, 20%)
			letter-spacing .7px

.content
.others
	max-width 1070px
	padding 100px 170px 200px
.about-details
	padding-top 10px
	display flex
	justify-content space-between
	.about
		flex-basis 40%
		p
			line-height 19px
			letter-spacing .4px
	
.con-table
	flex-basis 50%
	ol
		margin 0
		padding 5px 0 0 0px
		counter-reset list
		column-count 2
		column-gap 5px
		&>li
			counter-increment list
			list-style-type none
			position relative
			padding-left 29px
			margin-bottom 10px
			font-size 14px
			line-height 15px
			letter-spacing 0.34px
			&::before
				content counter(list)". "
			&::after
				content "+"
				position absolute
				left 0
				top 0
				color $wht
				padding 1px 5px
				//background-color $lt-green
				background-color $dk-green
		
.green-button-more
	margin-top 20px
	background-color $lt-green
	color $wht
	padding 8px 0
	width 109px
	box-shadow 2px 2px $green-shadow
	max-width 250px
	border-radius 3px

.feat-icons
	margin-left 5px
	color darken($lt-green, 20%)
	font-size 16px
	.icon-amazon
		vertical-align middle
	i
		margin-left 5px

/* Other books */
.other-books
	padding-top 30px
	margin-left -10px
	display flex
	justify-content space-around

.o-book
	flex-basis 23%
	.cover
		color $lt-green
		height 320px
		background-image url(../img/book.svg)
		background-size cover
		position relative
		h3
			position absolute
			left 3.6rem
			top 2.5rem
			text-transform uppercase
			color $wht
		span
			display block
			font-size 10px
			text-transform none
			color $lt-green
			letter-spacing .6px
			margin-left -10px
			margin-top 4px
		small
			position absolute
			bottom 24px
			left 3.5rem
			font-size 10px
			letter-spacing .8px
.o-book-desc
	margin-top 27px
	h3
		text-align center
		margin-bottom 10px
		letter-spacing 2.2px
	p
		margin-top 0
		font-size 14px
		line-height 19px
		letter-spacing .4px
		margin 10px -20px 18px
.read-more
	display block
	text-align center
	text-transform uppercase
	font-size 12px
	color $lt-green
	letter-spacing .6px
	margin-left -5px
	
.all-books-div
	text-align center
	padding-top 78px
.all-books-btn
	background-color $lt-green
	color $wht
	text-decoration none
	padding 9px 25px
	max-width 250px
	margin-left -20px
	letter-spacing 0.7px
	border-radius 3px
	position relative
	//text-align center
	//box-shadow 2px 2px $green-shadow
	&::before
		display block
		position absolute
		width 100%
		height 20px
		background-color $green-shadow
		content ''
		left 0
		bottom -3px
		z-index -1
		border-radius 3px