@import 'normalize.css'
@require 'colors.styl'

body
	/*font-family 'Roboto Slab', serif*/
 	/*font-family 'Open Sans', sans-serif*/
 	
.site-main
	background-color $bg-green

.header
	display flex	
	justify-content space-between
	align-items center
	flex-wrap wrap

.header-logo
	background-image url(../img/logo.svg)
	width 132px
	height 31px
	display block
	background-size cover
	
.header-list
	list-style none
	display flex
	justify-content flex-end
	li
		margin-left 15px
	